*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ), url("../images/pozadinaa.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(41, 41, 41, 0);
    width: 100%;
    margin-top: 2%;
    font-family:Arial, Helvetica, sans-serif;
}

.logo{
    margin: 0;
    padding: 0;
}

.logo img{
    width: 200px;
    height: auto;
    cursor: pointer;
    margin: 0;
}
.lista{
    display:flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    overflow-x: 0;
    margin-right: 2%;
    gap: 10px;
    
}
.lista li {
    margin:0;
    padding: 10px 20px;
}
.lista a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.lista li:hover{
    background-color: rgba(238, 238, 108, 0.8);
    transition: 0.5s ease;
}

 #PrekidacLabel{
    width: 45px;
    height: 20px;
    position: relative;
    background: #242424;
    border-radius: 20px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -15px rgba(255,255,255,0.4);
    cursor: pointer;
    transition: 0.3s;
    flex-shrink: 0;
}
#PrekidacLabel:after{
    content: "";
    width:37%;
    height: 15px;
    position: absolute;
    top:3px;
    left: 4%;
    background: linear-gradient(180deg, #777, #3a3a3a);
    border-radius:15px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    transition: 0.3s;
}
#tema{
    width: 0;
    height:0;
    visibility: hidden;
    transition: 0.3s;
}

#tema:checked + #PrekidacLabel{
    background: white;
    transition: 0.3s;
}

#tema:checked + #PrekidacLabel:after{
    left:92%;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    transition: 0.3s;
}




.usluge {
  padding: 40px;
  max-width: 1200px;
  align-items: center;
  margin: auto;
}

.usluge h1{
  padding: 30px;
  color: white;
  text-align: center;
}

.opcije {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 260px));
  gap: 25px;
  margin-top: 50px;
}

.kartica {
  background: #11161d;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.3s;
  border: 1px solid #1f2630;
}

.kartica:hover {
  transform: translateY(-5px);
}

.kartica img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.sadrzaj-kartice {
  padding: 15px;
}

.kartica h3 {
  color: white;
  font-size: 16px;
  margin: 0 0 10px;
}

.kartica p {
  font-size: 13px;
  color: #aaa;
}

.donjiDioKartice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  color: white;
}

.cijena {
  color: #e0b15f;
  font-weight: bold;
}

#kontakt {
  background: #e0b15f;
  border: none;
  padding: 6px 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
#kontakt:hover{
  transform: scale(1.05);
}

.numerisanje {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 10px;
}

.numerisanje button {
  background: #1f2630;
  color: white;
  border-radius: 15%;
  font-weight: bold;
  padding: 3px;
}
.numerisanje button:hover{
  transform: scale(1.05);
}
.broj-stranice {
  padding: 6px 10px;
  background: #1f2630;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.broj-stranice.active {
  background: #e0b15f;
  color: black;
}

#filteri {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 5%;
}

#filteri button {
  background: #e0b15f;
  color: black;
  border-radius: 100%;
  font-weight: bold;
  padding: 10px;
}
#filteri button:hover{
  transform: scale(1.05);
}

.galerija{
  align-items: center;
  margin-top: 5%;
  padding: 40px;
  background: transparent;
  margin-bottom: 100px;
  
}
.galerija h1{
  padding: 30px;
  color: white;
  text-align: center;
}

.galerija h2 {
  margin-bottom: 20px;
}

.galerija-lista {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0;
}

.galerija-lista li {
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border-radius: 12px;
  padding: 15px;
  border: 1px solid rgba(255,255,255,0.2);
  color: #fff;
}
.galerija-lista img:hover{
  transform: scale(1.05);
}
.galerija-lista img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.galerija-lista ul {
  padding-left: 18px;
  margin: 0;
}

.galerija-lista ul li {
  background: none;
  padding: 3px 0;
  border: none;
  backdrop-filter: none;
}
.radno-vrijeme{
  align-items:center;
  text-align:center;
  margin-top: 10%;
  margin-bottom: 150px;
}

.radno-vrijeme h1{
 color: white;
 text-align: center;
 padding: 30px;
}
.radno-vrijeme table{
  align-items: center;
  color:white;
  background-color: black;
  margin: 0 auto;
border-collapse: collapse;

}
.radno-vrijeme table tr td{
  padding: 15px;
  border: 1px solid #3a3a3a;
  
}

#vrati {
  z-index: 999;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none; 
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 100%;
  background-color: rgba(238, 238, 108, 0.8);
  cursor: pointer;
}



.hero {
    height: 100vh;
    display: flex;
    align-items: center;
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    color: white;
    margin-left: 3%;
    max-width: 500px;
}

.hero-text h1 {
    font-size: 80px;
    margin-top: auto;
    white-space: nowrap;
}

.hero-text p {
    font-size: 42px;
    line-height: 1.4;
    color: orange;
    opacity: 1;
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
}

.linija {
    width: 520px;
    height: 4px;
    background: linear-gradient(to right, rgb(155, 149, 137), rgb(175, 172, 149));
    border-radius: 2px;
    margin: 20px 0;
}

.desno {
    display: inline-block;
    margin-left: 40px;
}

.desno1 {
    display: inline-block;
    margin-left: 20px;
}
.about-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 60px;
    background-color: #111;
    color: white;
    padding: 80px 10%;
    margin-top: -120px;
    width: 100%;
}

.about-left {
    flex: 1;
    padding-right: -50px;

}

